<div class="container pt-5 pb-5">
  <h1>Monthly Mortgage Calculator</h1>
  <p class="lead">An Angular-based mortgage calculator.</p>
  <ul class="nav nav-pills pb-3 pt-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
  </ul>
  <router-outlet></router-outlet>
</div>